<div class="container devise__card">
  <div class="card devise-bs">
    <div class="card-header">
      <h5 class="m-0"><%= t('.sign_up', default: 'Sign up') %></h5>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
        <div class="d-flex justify-content-between">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <%= f.label :name %>
              <% resource.errors.each do |field, msg| %>
                <% if field == :name %>
                  <p class="text-danger"><%= msg %></p>
                <% end %>
              <% end %>
            </div>
            <%= f.text_field :name, autofocus: true, class: 'form-control', :required => true %>
          </div>
          <div class="form-group w-50">
            <div class="d-flex justify-content-between">
              <%= f.label :club %>
              <% resource.errors.each do |field, msg| %>
                <% if field == :club %>
                  <p class="text-danger"><%= msg %></p>
                <% end %>
              <% end %>
            </div>
            <%= f.select :club, options_for_select(['', 'CU', '다이제']), {}, {class: 'custom-select w-100'} %>
          </div>
        </div>
        
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :email %>
            <% resource.errors.each do |field, msg| %>
              <% if field == :email %>
                <p class="text-danger"><%= msg %></p>
              <% end %>
            <% end %>
          </div>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :password %>
            <p class="text-danger">6자리 이상의 비밀번호를 입력해주세요.</p>
          </div>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <%= f.label :password_confirmation %>
            <% resource.errors.each do |field, msg| %>
              <% if field == :password_confirmation %>
                <p class="text-danger"><%= msg %></p>
              <% end %>
            <% end %>
          </div>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary' %>
      <% end %>
      <hr>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
