<div class="container">
  <h2 class="post__header">공지사항</h2>
  <!--방문자 수: <%#= @total_view_count %> -->
  <hr/>
  <br/>
  <div class="row">
    <div class="post__show_nav col-2">
      <nav class="nav flex-column nav-pills">
        <%= link_to '공지사항', posts_path, class: "nav-link active" %>
        <a class="nav-link" href="#">자료실</a>
        <a class="nav-link" href="#">건의게시판</a>
      </nav>
    </div>
    <div class="col-1"></div>
    <div class="col-8 post__table">
      <table class="table thead-default text-center col-8">
        <thead>
          <tr>
            <th class="post__id text-center">#</th>
            <th class="post__title text-center">제목</th>
            <th class="post__athor text-center">작성자</th>
            <th class="post__date text-center">날짜</th>
            <th class="post__views text-center">조회수</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.id %></td>
              <td class="text-left">
                <% if post.title == "" %>
                  <%= link_to "제목 없음", post, class: "post__table_link" %>
                <% else %>
                  <%= link_to post.title, post, class: "post__table_link" %>
                <% end %>
              </td>

              <td><%= post.id %></td>
              <td><%= post.created_at %></td>
              <td><%= "#{post.unique_impression_count}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="post__paginator d-flex justify-content-center">
        <%= paginate @posts %>
      </div>
      <div class="post__search d-flex justify-content-center">
        <%= form_tag(posts_path, :method => "get", id: "search-form", class: "form-inline") do %>
          <%= text_field_tag :search, params[:search], placeholder: "검색어를 입력하세요.", class: "form-control" %>
          <%= button_tag(type: "submit", class: "btn btn-outline-success") do %>
            <i class="fa fa-search" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr/>
</div>


<br>

<%= link_to 'New post', new_post_path %>
