<div class="container">
  <div class="post__header"></div>
  <hr/>
  <br/>
  <div class="row">
    <div class="post__show_nav col-2 p-0 ml-3">
      <nav class="nav flex-column">
        <%= link_to '공지사항', posts_path, class: "nav-link py-3 m-0 active" %>
        <%= link_to '자료실', documents_path, class: "nav-link py-3 m-0" %>
        <%= link_to '건의게시판', suggestions_path, class: "nav-link py-3 m-0" %>
      </nav>
    </div>
    <div class="col-1"></div>
    <div class="post__show_header col-8">
      <h3 class = "post__table_title">공지사항</h3>
      <hr/>
      <ul class="row pb-2">
        <% if @post.title == "" %>
          <li class="col-12 mb-2 post__show_title"><h3>제목 없음</h3></li>
        <% else %>
          <li class="col-12 mb-2 post__show_title"><h3><%= @post.title %></h3></li>
        <% end %>
        <li class="col-4 post__show_other">작성자</li>
        <li class="col-4 post__show_other">조회수  <%= "#{@post.unique_impression_count}" %></li>
        <li class="col-4"><%= @post.updated_at %></li>
      </ul>
      <% @post.avatars.each_with_index do |file, index| %>
        <i class="fa fa-file-o" aria-hidden="true"></i>
        <%= link_to "#{@post.avatars_identifiers[index]}", download_post_path(@post), class: "col-12 post__attatchment" %> <br/>
      <% end %>
      <div class="post__show_content mt-4">
        <p><%= @post.content.html_safe %></p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end w-100">
    <%= link_to '목록', posts_path, class: "btn btn-secondary btn-lg" %>
  </div>
</div>



<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<br>

<!-- <%= link_to 'New post', new_post_path %> -->
